doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Nova ideia
    // Bootstrap core CSS
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
      
    style.
      * {
      box-sizing: border-box;
      }
      body {
      margin: 0;
      font-family: Helvetica;
      font-size: 17px;
      }

    body

    .container
    #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
        .panel.panel-info
            .panel-heading
                h3 
                    font(color='#426874') 
                        font(face='helvetica') Descreva a sua ideia
            .panel-body(style='padding-top:30px')
                #login-alert.alert.alert-danger.col-sm-12(style='display:none')
                form#loginform.form-horizontal(role='form'action="/"+user._id+'/ReceitasCulinarias/novaIdeia' method='post')
                    .input-group(style='margin-bottom: 25px')
                        span.input-group-addon
                            i.glyphicon.glyphicon-user
                        label.col-md-3.control-label(for='titulo')
                            font(color='#426874')
                                b Título
                                textarea(rows='1', cols='55',name='titulo')
                    .input-group(style='margin-bottom: 25px')
                        span.input-group-addon
                            i.glyphicon.glyphicon-lock
                        label.col-md-3.control-label(for='descricao')
                            font(color='#426874')
                                b Descrição  
                                textarea(rows='7', cols='55',name='descricao')                 
                    .form-group(style='margin-top:10px')
                    // Button
                    .col-sm-12.controls
                        a#btn-login.btn.btn-secondary(type='submit') Adicionar Ideia  

block content